* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "TitilliumWeb-ExtraLight";
    src: url(../fonts/KdamThmorPro-Regular.ttf);
}

body {
    animation-name: Opacidad;
    animation-iteration-count: 1;
    animation-duration: 3s;
    font-family: "TitilliumWeb-ExtraLight";
    background-color: black;
}

footer section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer section h2 {
    color: rgb(225, 225, 225);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

@keyframes Opacidad {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}





/* MENU */
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav section div {
    display: flex;
    flex-direction: column;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#aldo1 {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
}

#aldo2 {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 5px;
}

.nav-links a {
    color: rgb(225, 225, 225);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-links a:hover {
    color: rgb(26, 88, 7);
    transition: 1s;
}

.nav-links a::after {
    content: "";
    width: 0;
    height: 1px;
    background: rgba(250, 204, 0, 0.589);
    margin: auto;
    display: block;
}

.nav-links a:hover::after {
    width: 100%;
    transition: width 0.5s linear;
}





/*INICIO*/
main h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

main h2 {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}





/*NOTICIAS*/
h3 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

main section {
    display: flex;
    justify-content: space-between;
}

.carta {
    background-color: rgb(225, 225, 225);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(225, 225, 225);
}

.carta img{
    border-radius: 5px;
}

h4{
    font-weight: bold;
    letter-spacing: 1px;
}

h6{
    letter-spacing: 1px;
}










/* DESKTOP */
@media (min-width: 1024px) {
    footer {
        margin: 10vh 15vh;
    }
    footer section h2{
        font-size: 16px;
    }
    /* MENU */
    nav {
        margin: 5vh 15vh 0vh 15vh;
    }
    nav section {
        width: 30%;
    }
    .nav-links {
        width: 45%;
    }
    #escudo {
        width: 100px;
    }
    #aldo1 {
        font-size: 17px;
    }
    #aldo2 {
        font-size: 45px;
    }
    .nav-links a {
        font-size: 13px;
    }
    /*INICIO*/
    .tituloCarousel{
        margin: 0vh 15vh;
        position: absolute;
        top: 15%;
        left: 1%;
        font-size: 55px;
        width: 30%;
    }
    .subtituloCarousel {
        margin: 0vh 15vh;
        position: absolute;
        top: 40%;
        left: 1%;
        font-size: 20px;
    }
    /*NOTICIAS*/
    h3 {
        margin: 10vh 15vh;
        font-size: 50px;
    }
    main section {
        margin: 5vh 15vh 15vh 15vh;
    }
    h4 {
        margin: 0vh 0vh 1vh 0vh;
    }
}